* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  color: #a2a4b2;
}

*:focus {
  outline: none;
}

html {

}

body {
  background-color: #fff;
}

button {
  width: 100px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid transparent;
  background: none;
  height: 52px;
  margin-right: 10px;
  cursor: pointer;
}

button:hover {
  border-bottom: 3px solid #7b97e3;
}
